PORT=5000
# MONGODB_URI=mongodb://localhost:27017/biz-insights-translator
# MONGODB_USER=matrixutsavlankapati_db_user
# MONGODB_PASS=spOFtWLQqKJZwMj3
MONGODB_URI=your_mongo_db_url
JWT_SECRET=your_jwt_token
OPENROUTER_API_KEY=AI_api_key
GOOGLE_TRANSLATE_KEY=key_from_google_console

