fastapi
uvicorn
gunicorn
motor
pymongo
python-socketio
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-dotenv
httpx
pydantic
pydantic-settings
email-validator
websockets
python-multipart
uvloop; sys_platform != 'win32'
